$font-family-base: 'Ubuntu';
$font-family-heading: 'Ubuntu';

$font-small-size: 0.7em;
$font-smaller-size: 0.8em;
$font-default-size: 1em;
$font-regular-size: 1.1em;
$font-bigger-size: 1.3em;
$font-biggest-size: 32px;

$font-weight-extra-thin: 100;
$font-weight-thin: 200;
